{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
