{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ]
}
