.git

# node.js and VS Code settings
node_modules
.vscode
.cache

# Build output
build

# Snapshots
snapshots

# Windows scripts - install, start, test, build
*.bat

# Private mailer configuration - see https://ciunkos.com/creating-contact-forms-with-nodemailer-and-react
src/server/mailer/config/*
