<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Przemysław Zalewski - Ciunkos</title>
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1,shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold"
      title="roboto"
    />
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
