<!doctype html>
<html class="no-js" lang="en" style="background: #3040bc">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Przemysław Zalewski - Ciunkos</title>
    <meta name="description" content="Przemysław Zalewski's home page - blog, apps, resume, contact'">

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1564C0">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1564C0">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">

    <meta name="application-name" content="Przemysław Zalewski - Ciunkos"/>
    <meta name="msapplication-TileColor" content="#1564C0"/>
    <meta name="msapplication-square70x70logo" content="/small.png"/>
    <meta name="msapplication-square150x150logo" content="/medium.png"/>
    <meta name="msapplication-wide310x150logo" content="/wide.png"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">

    <link href="/styles.css" rel="stylesheet">
  </head>

  <body style="background: #3040bc">
    <div id="app"></div>

    <link href="/styles.css" rel="stylesheet">
  </body>
</html>
