body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAArSURBVDhPY9iPA/zHAUY1IAOoPAYgXQOUxgBQfRhgVAMygMpjABI17N8PAKcQnR/BFzdFAAAAAElFTkSuQmCC);
}
