<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <system.web>
        <customErrors mode="off" />
    </system.web>

    <system.webServer>
        <!--https://github.com/tjanczuk/iisnode/issues/261#issuecomment-14257010-->
        <httpErrors existingResponse="PassThrough" />

        <iisnode node_env="production" />
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS Redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                <rule name="Server-Side Rendering" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>

            <outboundRules>
                <rule name="Remove Server header">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
                <rule name="Remove X-Powered-By header">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>

        <staticContent>
            <clientCache cacheControlMode="UseExpires" cacheControlMaxAge="30.00:00:00" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" />
        </staticContent>
        
        <!-- exclude node_modules directory and subdirectories from serving by IIS since these are implementation details of node.js applications -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                    <!--Server handles this with 404-->
                    <!--<add segment="server.js" />-->
                </hiddenSegments>
            </requestFiltering>
        </security>

        <httpProtocol>
            <customHeaders>
                <remove name="Server" />
                <remove name="server" />
                <remove name="X-Powered-By" />
                <remove name="x-powered-by" />
                <clear />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>